body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

ul {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: white;
}

nav {
  display: flex;
  padding: 2vh;
  background: #373858;
  .logo {
    padding: 2vh 5vh;
  }
}

.links {
  display: flex;
  flex: auto;
  justify-content: space-between;
  list-style-type: none;
  li {
    margin: auto;
  }
}

.btn-1 {
  background: rgba(224, 224, 229, 0.21);
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 26px;
  color: white;
}

@media (min-width: 600px) {
  .logo {
    width: 30vw;
  }
}

@media (max-width: 600px) {
  .links {
    flex-direction: column;
  }
}

.main1 {
  min-height: 85vh;
  background:#373858;

}

.container {
  max-width: 1160px;
  margin: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 10vh;
}

h1 {
  margin: 0;
  font-family: Poppins;
  font-size: 4.5rem;
  letter-spacing: -0.05em;
  line-height: 120%;
  color: #FFFFFF;
}

p {
  font-family: Roboto;
  font-size: 1rem;
  color: #FFFFFF;
}

.btn-2, .btn-3 {
  margin-right: 1vh;
  padding: 1rem 2rem;
  font-family: Roboto;
  font-size: 1rem;
  border-radius: 26px;
  color: white;
}

.btn-2 {
  border: none;
  background: linear-gradient(360deg, #CA1E54 0%, #FF5F91 100%);
}

.btn-3 {
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  background-color: transparent;
}

.main2 {
  border: 1px solid black;
  min-height: 100vh;
}